In [20]:
# 11.1 Completed as Python file in VSC.

In [4]:
# 11.2
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [18]:
# 16.1 Completed as CSV file in VSC.

In [14]:
# 16.2
import csv

with open('books.csv', 'r') as csvfile:
    books = csv.DictReader(csvfile)
    for row in books:
        print(row)

# Yes, everything was handled perfectly.

{'author': 'J R R Tolkien', 'book': 'The Hobbit'}
{'author': 'Lynne Truss', 'book': 'Eats, Shoots, & Leaves'}

In [22]:
# 16.3 Completed as CSV file in VSC.

In [24]:
# 16.4
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
(title VARCHAR(50) PRIMARY KEY,
author VARCHAR(50),
year INT)''')

In [28]:
# 16.5
with open('books2.csv', 'r') as csvfile2:
    books2 = csv.DictReader(csvfile2)
    for row in books2:
        title = row['title']
        author = row['author']
        year = int(row['year'])
        ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'
        curs.execute(ins, (title, author, year))

conn.commit()
conn.close()

In [44]:
# 16.8
import sqlalchemy as sa

engine = sa.create_engine('sqlite:///books.db')
with engine.connect() as connection:
    all_books = connection.execute(sa.text('SELECT title FROM books ORDER BY title'))
    for row in all_books:
        print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!